*{
    margin : 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    display: flex;
    height: 60px;
    background-color: #0f1111;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo {
   height: 50px;
    width: 100px;
}
.logo {
    height: 50px;
   background-image: url(amazon_logo.png);
   background-size: cover;
   width: 100%;
}
.border {
    border : 2px solid transparent;
}
.border:hover {
    border : 1.5px solid white;
    /* cursor: pointer; */
}
.add-first{
color: #cccccc;
font-size: 0.8rem;
margin-left: 18px;
}
.add-icon{
   display: flex;
   align-items: center;
}
.nav-search {
    display: flex;
}
/*box 3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 550px;
    height: 35px;
    border-radius: 3px;
}
.search-select {
    background-color: #f3f3f3;
    /* margin-left: 10px; */
    width: 50px; 
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 1rem;
    border :none;
 }
 .search-input{
      width: 100%;
       font-size: 1rem;
       border: none;
 }
 .search-icon{
    width: 45px;
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size : 1.2rem;
    background-color: #febd68;
    color: #0f1111;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border: none; 
 }
.country {
    display: flex;
    padding: 10px;
}
.select{
    background-color: #0f1111;
    color: white;
    border: none;
}

span {
    font-size: 0.7rem;
}
.nav-second{
font-size: 0.8rem;
font-weight: 700;
}
.nav-search:hover{
border : 3px solid orange;
}
.cart{
padding : 10px;
}
.name {
    font-size: 0.8rem;
    font-weight: 700;
}
.cart-icon i{
    font-size: 1.5rem;
}
/* panel */
.panel {
  background-color: #222f3d;
  color: white;
  display: flex;
  height: 39px;
  align-items: center;
}
.panel-all{
    padding: 10px;
}
.panel-ops p{
display: inline;
padding: 5px;
padding: 10px;
}
/** hero section **/
.hero-section{
background-image: url(hero_image.jpg);
height: 390px;
background-size: cover;
display: flex;
justify-content: center;
align-items: flex-end;
}
 .hero-message{
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(255, 255, 255, 0.923);
color: black;
height: 40px;
font-size: 0.85rem;
width: 95%;
margin-bottom: 20px;
}
.hero-message a{
    margin-left : 5px;
    color: #007185;
    text-decoration: none;
}
